<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name="com.cogniheroid.android.AdGalaxyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdGalaxy"
        tools:targetApi="31"
        tools:replace="android:name">

        <meta-data
            android:name="applovin.sdk.key"
            android:value="oMiUKaigFiazdAM746B4tiJ8GLHw2rmqzCeyan_wHRoTr6HeulFr7d95c4NrdoquH7TSkGDDOEspRmBycHZIKQ" />

        <activity
            android:name="com.configheroid.android.ConvertorActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>